<div class="container">
  <h2 *ngIf="!roleId">Add Role</h2>
  <h2 *ngIf="roleId">Edit Role</h2>
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="role-inputs p-15">
      <div>
        <app-text-control [formControlModel]="roleField" [form]="form"></app-text-control>
      </div>
      <div>
        <app-text-control [formControlModel]="descriptionField" [form]="form"></app-text-control>
      </div>
    </div>
    <div class="p-15">
      <div>
        <app-text-control-number [formControlModel]="wrongLoginAttemptsField" [form]="form"></app-text-control-number>
      </div>
      <div>
        <app-toggle [formControlModel]="permissionField" [form]="form"></app-toggle>
      </div>
    </div>

    <div *ngIf="!form.get('permissionField')?.value">
      <div [formGroup]="sectionForm">
        <div class="p-15 site-section">
          <div>
            <app-multi-chip-select
              [formControlModel]="roleControl.sitesField"
              [form]="form"
              [formControl]="getSelectionControl('sitesField')"
              [allItems]="site"
              ngDefaultControl
            >
            </app-multi-chip-select>
          </div>
          <div>
            <app-multi-chip-select
              [formControlModel]="roleControl.languagesField"
              [formControl]="getSelectionControl('languagesField')"
              [form]="form"
              [allItems]="language"
              ngDefaultControl
            ></app-multi-chip-select>
          </div>
          <div>
            <app-multi-chip-select
              [formControlModel]="roleControl.privilegesField"
              [formControl]="getSelectionControl('privilegesField')"
              [form]="form"
              [allItems]="privilege"
              ngDefaultControl
            ></app-multi-chip-select>
          </div>
        </div>
        <div class="p-15 section-btn">
          <div *ngIf="!selectedSectionId">
            <app-button
              type="button"
              [isDisabled]="!sectionForm.valid"
              (btnClick)="addSelection()"
              label="Add section"
            ></app-button>
          </div>
          <div *ngIf="selectedSectionId">
            <app-button
              type="button"
              [isDisabled]="!sectionForm.valid"
              (btnClick)="updateSelection()"
              label="Update section"
            ></app-button>
          </div>
          <div>
            <app-button
              type="button"
              [isDisabled]="selectedSectionId == undefined"
              (btnClick)="removeSelection()"
              label="Remove section"
            ></app-button>
          </div>
        </div>
      </div>
      <div class="p-15">
        <h2>Roles Overview</h2>
        <div *ngIf="isAnySections() == false">No privileges</div>
        <div *ngIf="isAnySections() == true">
          <div
            *ngFor="let tree of treeViewData"
            class="tree-section lg-grey-tree"
            (click)="onSectionClick(tree.id)"
            [class.selected]="tree.id === selectedSectionId"
          >
            <app-tree-view [data]="tree.data" [expand]="expand" [collapse]="collapse" [visibility]="false"></app-tree-view>
          </div>
        </div>
      </div>
    </div>
    <div class="roleBtn p-15">
      <app-button class="m-10" type="button" label="Cancel" (btnClick)="cancel()"></app-button>
      <app-button type="submit" [isDisabled]="!form.valid" label="Save Role"></app-button>
    </div>
  </form>
</div>
