
::ng-deep .mat-form-field {
    font-family: 'Nunito', sans-serif;
    // color: var(--color-textfont);
    &.mat-form-field-label {
        // color: var(--color-textlabel);
    }
    &.mat-form-field-appearance-outline {
        .mat-form-field-outline {
            // color: var(--color-textborder);
        }
        .mat-form-field-flex {
            padding: 0 0.7rem 0 1.4rem;
        }
        .mat-form-field-infix {
            padding: 1.1rem 0 0.8rem 0;
            height: 5.4rem;
            line-height: 1;
        }
        .mat-form-field-label {
            top: 2.6rem;
        }
        &.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
        &.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
            transform: translateY(-2.2rem) scale(0.75);
        }
        &.mat-focused .mat-form-field-outline-thick,
        &.mat-focused .mat-form-field-label {
            // color: var(--color-primary);
        }
        .mat-form-field-outline-start {
            border-radius: 8px 0 0 8px;
        }
        .mat-form-field-outline-end {
            border-radius: 0 8px 8px 0;
        }
        // .mat-form-field-prefix,
        // .mat-form-field-suffix {
        //     width: 4rem;
        //     height: 4rem;
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     top: 0.3rem;
        // }
        .mat-select-arrow-wrapper {
            transform:initial
        }
    }
    &.mat-form-field-invalid .mat-form-field-label,
    &.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
        // color :var(--color-error);
    }
}
.mat-error {
    // color: var(--color-error);
}