<div [formGroup]="form">
  <div class="file-upload-wrapper" data-text="Select your file">
    <input
      hidden
      [type]="getType()"
      [formControlName]="formControlModel.key"
      [id]="formControlModel.key"
      (change)="onChange($event)"
      [name]="formControlModel.key"
      multiple="multiple"
      accept=".png, .jpg, .jpeg"
      #fileUpload
    />

    <app-button (click)="fileUpload.click()" label="Upload"> </app-button>
    <div class="fileName">
      {{ getFileName() }}
    </div>
  </div>
  <mat-error>
    {{ _validator.getError(form, formControlModel.key, formControlModel) }}
  </mat-error>
</div>
