.container {
  display: flex;
  gap: 10px 20px;
  padding: 20px;
}

.defaultFonts {
  flex-basis: 50%;
}

.addFont {
  flex-basis: 50%;
}

.card-header {
  background-color: var(--card-header-bg-color);
}

.card-content {
  background-color: var(--card-content-bg-color);
  border: 1px solid var(--card-content-border-color);
}

@media (max-width: 1328px) {
  .container {
    display: block;
    padding: 10px;
  }
  .addFont {
    margin-top: 3em;
  }
}
