/* Forgot
--------------------------------------------------------------------------------------------------------*/
.forgot-wrapper {
  display: flex;
  min-height: 100vh;
  color: #666;

  .forgot-left {
    width: 61.5%;
    background-color: #4c5dde;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem;

    @media (max-width: 1199px) {
      padding: 3rem;
    }

    @media (max-width: 991px) {
      width: 50%;
    }

    @media (max-width: 767px) {
      display: none;
    }

    .logo {
      margin-bottom: 7rem;
    }

    > p {
      padding: 2.2rem 0 0;
      font-weight: 600;
    }
  }

  .forgot-mid {
    text-align: center;
  }

  .forgot-right {
    width: 38.5%;
    align-self: center;
    padding: 15px;

    @media (max-width: 991px) {
      width: 50%;
    }

    @media (max-width: 767px) {
      width: 100%;
    }

    a {
      color: #4c5dde;

      &:hover,
      &:focus {
        color: #333;
      }
    }

    h2 {
      padding-bottom: 1.2rem;
    }

    .sub {
      font-size: 2.2rem;
      line-height: 2.6rem;
      color: #777777;
    }
  }

  .forgot-form {
    max-width: 460px;
    margin: 0 auto;
    padding: 1.5rem;
  }

  .forgot-btn {
    width: 100%;
  }
}

.m-10 {
  margin-top: 20px;
}
