<div class="forgot-wrapper">
  <div class="forgot-left">
    <a href="#" title="Logo" class="logo">
      <img src="assets/images/logo.svg" alt="logo" />
    </a>
    <div class="forgot-mid">
      <img src="assets/images/login-img.svg" alt="login-img" />
    </div>
    <p>V 1.1.0 | Copyright 2022. All rights reserved</p>
  </div>
  <div class="forgot-right">
    <form (ngSubmit)="onForgot()" [formGroup]="form" class="forgot-form">
      <h2>FORGOT PASSWORD</h2>
      <p class="sub">Please enter your Email/User Name</p>
      <app-text-control
        [formControlModel]="forgotModel.userNameField"
        [form]="form"
        class="w-100"
      ></app-text-control>
      <app-button
        type="submit"
        [isDisabled]="!form.valid || disable"
        class="forgot-btn"
        label="GET PASSWORD"
      >
      </app-button>
      <div class="m-10">
        <a [routerLink]="['/']">Login Page</a>
      </div>
    </form>
  </div>
</div>
