<mat-card class="mat-elevation-z0 box">
  <mat-card-header>
    <mat-card-title class="pb-5">All Controls</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-text-control
      [formControlModel]="appControls.textField"
      [form]="form"
      (iconClick)="onIconClick(input)"
      #input
    ></app-text-control
  ></mat-card-content>
  <mat-card-content>
    <app-text-control-number
      [formControlModel]="appControls.numberField"
      [form]="form"
    >
    </app-text-control-number>
  </mat-card-content>
  <mat-card-content>
    <app-select
      [formControlModel]="appControls.selectField"
      [form]="form"
      [options]="selectOptions"
    ></app-select>
  </mat-card-content>
  <mat-card-content>
    <app-multi-chip-select
      [formControlModel]="appControls.multiChipSelectField"
      [formControl]="getSelectionControl('multiChipSelectField')"
      [form]="form"
      [allItems]="multiChipSelect"
      ngDefaultControl
    ></app-multi-chip-select>
  </mat-card-content>

  <mat-card-content>
    <app-time-picker
      (timeChanged)="onTimeChange($event)"
      [timePickerModel]="appControls.timePickerField"
      [form]="form"
    ></app-time-picker>
  </mat-card-content>
  <mat-card-content>
    <app-toggle
      [form]="form"
      [formControlModel]="appControls.toggleField"
    ></app-toggle>
  </mat-card-content>
  <mat-card-content>
    <app-radio
      [formControlModel]="appControls.radioField"
      [form]="form"
      [options]="radioOptions"
    ></app-radio>
  </mat-card-content>
  <mat-card-content>
    <app-checkbox
      [formControlModel]="appControls.checkboxField"
      [form]="form"
    ></app-checkbox>
  </mat-card-content>
  <mat-card-content>
    <app-file-upload
      [formControlModel]="appControls.fileUploadField"
      [form]="form"
    >
    </app-file-upload>
  </mat-card-content>
  <mat-card-content>
    <app-date-picker
      [form]="form"
      [formControlModel]="appControls.datePickerField"
    ></app-date-picker>
  </mat-card-content>
  <mat-card-content>
    <app-button label="Button Control" (btnClick)="submit()"></app-button>
    <app-button label="Button accent Control" [color]="'accent'"></app-button>
  </mat-card-content>
  <mat-card-content>
    stroked button
    <app-stroked-button
      label="Stroked Button Control"
      (onBtnClick)="submit()"
    ></app-stroked-button>
    <br /><br />
    <div>
      icon button
      <button mat-raised-button color="primary">
        <mat-icon>favorite</mat-icon>Primary
      </button>
    </div>
  </mat-card-content>
</mat-card>
