.flex {
  display: flex;
}
.table {
  width: 100%;
}
.addRole {
  text-align: right;
  margin-right: 20px;
}
th {
  width: 33.33%;
}
.example-container {
  padding: 15px 0 0 15px;
}
.p-15 {
  padding: 15px;
}
