<aside class="main-navigation">
  <a href="#" title="Logo" class="logo"><img src="assets/images/logo.svg" alt="" /></a>
  <mat-accordion multi>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header routerLink="table">
        <em class="icon"> <img src="assets/images/dashboard-white-ic.svg" alt="" /></em>
        Dashboard
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-icon class="icon">
          {{ routeConfig.Websites.icon }}
        </mat-icon>
        {{ routeConfig.Websites.label }}
      </mat-expansion-panel-header>

      <mat-accordion multi class="sub-menu">
        <mat-expansion-panel hideToggle>
          <div *ngFor="let item of routeConfig.Websites.Components">
            <a mat-list-item [routerLink]="item.path">{{ item.label }}</a>
          </div>
          <!-- <app-tree-view
            *ngIf="navFacadeService.clientList$"
            [data]="navFacadeService.clientList$ | async"
            [expand]="expandBtn"
            [collapse]="collapseBtn"
            (btnClick)="edit($event)"
            [visibility]="true"
          ></app-tree-view> -->
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-icon class="icon">
          {{ routeConfig.GlobalConfigs.icon }}
        </mat-icon>
        {{ routeConfig.GlobalConfigs.label }}
      </mat-expansion-panel-header>
      <mat-accordion multi class="sub-menu">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header *ngFor="let item of routeConfig.GlobalConfigs.Components">
            <a mat-list-item [routerLink]="item.path">{{ item.label }}</a>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-icon class="icon">
          {{ routeConfig.UsersConfig.icon }}
        </mat-icon>
        {{ routeConfig.UsersConfig.label }}
      </mat-expansion-panel-header>
      <mat-accordion multi class="sub-menu">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header *ngFor="let item of routeConfig.UsersConfig.Components">
            <a mat-list-item [routerLink]="item.path">{{ item.label }}</a>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-icon class="icon">
          {{ routeConfig.Utilities.icon }}
        </mat-icon>
        {{ routeConfig.Utilities.label }}
      </mat-expansion-panel-header>
      <mat-accordion multi class="sub-menu">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header *ngFor="let item of routeConfig.Utilities.Components">
            <a mat-list-item [routerLink]="item.path">{{ item.label }}</a>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
  </mat-accordion>
</aside>
