/* Login
--------------------------------------------------------------------------------------------------------*/
.login-wrapper {
  display: flex;
  min-height: 100vh;
  color: #666;

  .login-left {
    width: 61.5%;
    background-color: #4c5dde;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem;

    @media (max-width: 1199px) {
      padding: 3rem;
    }

    @media (max-width: 991px) {
      width: 50%;
    }

    @media (max-width: 767px) {
      display: none;
    }

    .logo {
      margin-bottom: 7rem;
    }

    > p {
      padding: 2.2rem 0 0;
      font-weight: 600;
    }
  }

  .mat-chip-list-wrapper {
    margin: 0;
  }

  .login-mid {
    text-align: center;
  }

  .login-right {
    width: 38.5%;
    align-self: center;
    padding: 7px;

    @media (max-width: 991px) {
      width: 50%;
    }

    @media (max-width: 767px) {
      width: 100%;
    }

    a {
      color: #4c5dde;

      &:hover,
      &:focus {
        color: #333;
      }
    }

    h2 {
      padding-bottom: 1.2rem;
    }

    .sub {
      font-size: 2.2rem;
      line-height: 2.6rem;
      color: #777777;
    }
  }

  .login-form {
    max-width: 460px;
    margin: 0 auto;
    padding: 1.5rem;
  }

  .frgt-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -0.3rem 0 1.4rem;
  }

  .login-btn {
    width: 100%;
  }

  .signup-text {
    text-align: right;
    display: block;
    margin: 1.2rem 0 5.6rem;
  }

  .underline-text {
    text-align: center;
    border-bottom: 1px solid #fcc110;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding-bottom: 0.4rem;
    color: #333;
    margin-bottom: 4rem;
  }

  .login-links-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
      display: flex;
      align-items: center;

      > li:not(:last-child) {
        padding-right: 4.8rem;
        position: relative;

        @media (max-width: 1199px) {
          padding-right: 2.5rem;
        }

        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: 2.4rem;
          bottom: 0;
          width: 1px;
          background-color: #737373;

          @media (max-width: 1199px) {
            right: 1.25rem;
          }
        }
      }

      a {
        background-color: #fff;
        color: #666;
        border: 1px solid #c9c9c9;
        display: flex;
        align-items: center;
        border-radius: 5rem;
        padding: 0.4rem 1rem 0.4rem 0.4rem;
        font-size: 1.4rem;
        line-height: 1.8rem;

        &:hover,
        &:focus {
          background-color: #c9c9c9;
        }

        em {
          display: flex;
          margin-right: 0.8rem;
          min-width: 2.4rem;
        }
      }
    }
  }
}
