<div class="login-wrapper">
  <div class="login-left">
    <a href="#" title="Logo" class="logo">
      <img src="assets/images/logo.svg" alt="logo" />
    </a>
    <div class="login-mid">
      <img src="assets/images/login-img.svg" alt="login-img" />
    </div>
    <p>V 1.1.0 | Copyright 2022. All rights reserved</p>
  </div>
  <div class="login-right">
    <form (ngSubmit)="onLogin()" [formGroup]="form" class="login-form">
      <mat-card class="card-size">
        <mat-card-title>LOGIN</mat-card-title>
        <p class="sub">Please enter your credentials</p>
        <mat-card-content>
          <app-text-control
            [formControlModel]="loginModel.userNameField"
            [form]="form"
            class="w-100"
          ></app-text-control
        ></mat-card-content>
        <mat-card-content>
          <app-text-control
            [formControlModel]="loginModel.passwordField"
            [form]="form"
            (iconClick)="onIconClick(input)"
            class="w-100"
            #input
          ></app-text-control>
        </mat-card-content>
        <mat-card-content *ngIf="!isCaptchaDone">
          <app-captcha [captchaForm]="form"></app-captcha>
        </mat-card-content>

        <div class="frgt-block">
          <app-checkbox
            [form]="form"
            [formControlModel]="loginModel.checkboxField"
          ></app-checkbox>
          <a [routerLink]="['/forgot-password']" title="Forgot password"
            >Forgot password ?</a
          >
        </div>
        <mat-card-actions>
          <app-button
            type="submit"
            [isDisabled]="!form.valid"
            class="login-btn"
            label="Login"
          >
          </app-button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
