<div class="login-wrapper">
  <div class="login-left">
    <a href="#" title="Logo" class="logo">
      <img src="assets/images/logo.svg" alt="logo" />
    </a>
    <div class="login-mid">
      <img src="assets/images/login-img.svg" alt="login-img" />
    </div>
    <p>V 1.1.0 | Copyright 2022. All rights reserved</p>
  </div>
  <div class="login-right">
    <form (ngSubmit)="onLogin()" [formGroup]="form" class="login-form">
      <h2>LOGIN</h2>
      <p class="sub">Please enter your credentials</p>
      <app-text-control
        [formControlModel]="loginModel.userNameField"
        [form]="form"
        class="w-100"
      ></app-text-control>
      <app-text-control
        [formControlModel]="loginModel.passwordField"
        [form]="form"
        (iconClick)="onIconClick(input)"
        class="w-100"
        #input
      ></app-text-control>
      <div *ngIf="!isCaptchaDone" class="captcha">
        <app-captcha [captchaForm]="form"></app-captcha>
      </div>
      <div class="frgt-block">
        <app-checkbox
          [form]="form"
          [formControlModel]="loginModel.checkboxField"
        ></app-checkbox>
        <a [routerLink]="['/forgot-password']" title="Forgot password"
          >Forgot password ?</a
        >
      </div>
      <app-button
        type="submit"
        [isDisabled]="!form.valid"
        class="forgot-btn"
        label="LOGIN"
      >
      </app-button>
      <!-- <span class="signup-text"
        >Don’t have an account ? <a href="#" title="Signup">Sign Up </a></span
      > -->
      <div class="login-links-wrapper">
        <span class="underline-text">Or login with</span>
        <ul>
          <li>
            <a href="#" title=""
              ><em><img src="assets/images/google-ic.svg" alt="google" /></em
              >Google</a
            >
          </li>
          <li>
            <a href="#" title=""
              ><em><img src="assets/images/facebook-ic.svg" alt="google" /></em
              >Facebook</a
            >
          </li>
          <li>
            <a href="#" title=""
              ><em><img src="assets/images/twitter-ic.svg" alt="google" /></em
              >Twitter</a
            >
          </li>
        </ul>
      </div>
    </form>
  </div>
</div>
