<div class="table-responsive">
  <div class="row">
    <h1>Global Messages</h1>
    <hr />
    <app-select
      [formControlModel]="languageField"
      [form]="form"
      [options]="languages"
      (selection)="onLanguageSelect($event)"
    ></app-select>
  </div>
  <ng-container *ngIf="totalMessages > 0">
    <div *ngFor="let title of editorsTitle; let i = index">
      <div class="flex">
        <h2 style="padding-bottom: 15px; padding-top: 30px; margin: 0">{{ title.text }}</h2>
        <app-button
          type="button"
          (click)="hideOrShow(i)"
          class="btn-show-hide"
          label="{{ title.isHide ? 'show' : 'hide' }}"
        ></app-button>
      </div>
      <div *ngIf="!title.isHide" class="btn">
        <app-editor
          [data]="messages[i].content"
          [type]="messages[i].type"
          [id]="messages[i].id"
          (change)="editorChanged($event)"
        ></app-editor>
      </div>
    </div>
  </ng-container>
  <div class="footer-button" *ngIf="totalMessages > 0">
    <app-button
      [label]="'Save'"
      *ngIf="
        permissions.MESSAGES_CREATE && permissions.MESSAGES_EDIT
          ? rolePermissionService.checkPermission(permissions.MESSAGES_CREATE) &&
            rolePermissionService.checkPermission(permissions.MESSAGES_EDIT)
          : true
      "
      (btnClick)="onSubmit()"
    ></app-button>
  </div>
</div>
