
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import '@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// primary color 
$mat-primary: (
  50: #A9B1EF,
  100: #98A1EC,
  200: #8692E9,
  300: #7582E6,
  400: #6473E3,
  500: #4c5dde,
  600: #2030AC,
  700: #1C2B9B,
  800: #19268A,
  900: #162279,
  A100: #4153DC,
  A200: #3044D9,
  A400: #263ACF,
  contrast : (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $CIR-front-end-primary: mat.define-palette(mat.$indigo-palette);
$CIR-front-end-primary: mat.define-palette($mat-primary);

// accent color
$mat-accent: (
  main: var(--accent-color),
  lighter: var(--accent-lighter-color),
  darker: var(--accent-darker-color),
  200: #e8e8e8, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$CIR-front-end-accent: mat.define-palette($mat-accent, main, lighter, darker);

//warn color 
$mat-warn: (
  main: var(--warn-color),
  lighter: var(--warn-lighter-color),
  darker: var(--warn-darker-color),
  200: #fa3a49, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
// The warn palette is optional (defaults to red).
$CIR-front-end-warn: mat.define-palette($mat-warn, main, lighter, darker);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$CIR-front-end-theme: mat.define-light-theme((
  color: (
    primary: $CIR-front-end-primary,
    accent: $CIR-front-end-accent,
    warn: $CIR-front-end-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($CIR-front-end-theme);

