:root {
  --color-error: #e60000;
  --color-success: #45af52;
  --border-color-lg-grey: #d3d3d3;
  --card-header-bg-color: #e8eaf6;
  --card-content-bg-color: #ced2ec;
  --color-white: white;
  --card-content-border-color: #9095b1;
}
