.main-navigation {
  width: 260px;
  min-height: 100%;
  background: var(--primary-color);

  .logo {
    margin: 22px 48px 48px;
  }
}

::ng-deep .mat-accordion {
  .mat-expansion-panel:not(.mat-expanded):not([aria-disabled='true'])
    .mat-expansion-panel-header:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  .mat-expansion-panel {
    box-shadow: none;
    font-family: 'Nunito', sans-serif;
    background-color: transparent;
    color: #fff;
    margin: 0 !important;

    &.mat-expanded {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  .mat-expansion-panel-header {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    height: 58px !important;
    background-color: transparent;
    color: #fff;
    transition: all 0.3s;

    .mat-expansion-indicator::after {
      position: relative;
      top: -5px;
    }
  }

  .mat-expansion-indicator::after {
    color: #fff;
  }

  .mat-expansion-panel-body {
    padding: 0;
  }

  .mat-content {
    align-items: center;

    .icon {
      display: flex;
      margin-right: 14px;
      width: 24px;
      height: 24px;
    }
  }

  &.sub-menu {
    .mat-expansion-panel {
      background-color: transparent !important;
    }

    .mat-expansion-panel-header {
      font-size: 14px;
      line-height: 28px;
      height: 40px !important;
      padding-left: 50px;
    }

    .mat-content {
      position: relative;
      padding-left: 14px;

      &::before {
        content: '';
        position: absolute;
        top: calc(50% - 3px);
        left: 0;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #fff;
      }
    }

    ul.sub-menu-list {
      list-style: circle;
      margin-left: 80px;

      .link {
        padding: 8px 0;
        color: #fff;
        display: block;

        &:hover {
          color: rgba(255, 255, 255, 0.6);
        }
      }
    }
  }
}
