<div class="reset-wrapper">
  <div class="reset-left">
    <a href="#" title="Logo" class="logo">
      <img src="assets/images/logo.svg" alt="logo" />
    </a>
    <div class="reset-mid">
      <img src="assets/images/login-img.svg" alt="login-img" />
    </div>
    <p>V 1.1.0 | Copyright 2022. All rights reserved</p>
  </div>
  <div class="reset-right">
    <form (ngSubmit)="onReset()" [formGroup]="form" class="reset-form">
      <h2>RESET PASSWORD</h2>
      <p class="sub">Please enter your New Password</p>
      <app-text-control
        [formControlModel]="resetModel.userNameField"
        [form]="form"
        class="w-100"
      ></app-text-control>
      <app-text-control
        [formControlModel]="resetModel.oldPasswordField"
        [form]="form"
        class="w-100"
        (iconClick)="onIconClick(input1)"
        #input1
      ></app-text-control>
      <app-text-control
        [formControlModel]="resetModel.newPasswordField"
        [form]="form"
        class="w-100"
        (iconClick)="onIconClick(input2)"
        #input2
      ></app-text-control>
      <app-button
        type="submit"
        [isDisabled]="!form.valid"
        class="reset-btn"
        label="RESET PASSWORD"
      >
      </app-button>
      <div class="m-10">
        <a [routerLink]="['/']">Login Page</a>
      </div>
    </form>
  </div>
</div>
