.table-responsive {
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  table {
    width: 100%;
  }

  .footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 0 2em;
  }

  .addBtn {
    margin-left: 10px;
  }
}
