<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    {{ node.name }}
    <button mat-icon-button (click)="getId(node)" *ngIf="visibility">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button type="button" matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{ treeControl.isExpanded(node) ? [collapse] : [expand] }}
      </mat-icon>
    </button>
    {{ node.name }}
    <button mat-icon-button (click)="getId(node)" *ngIf="visibility">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-tree-node>
</mat-tree>
