.card-header {
  background-color: var(--card-header-bg-color);
}

.card-content {
  background-color: var(--card-content-bg-color);
}

div.mat-card-header-text {
  margin-left: 0px;
}

.countrySelect {
  text-align: end;
}

.saveButton {
  position: relative;
  left: 50%;
}
